@font-face{
  font-family: "Golden Age Regular";
  src: url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.eot");
  src: url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/d4269475e6f4cf16ad166d5b2e11988b.svg#Golden Age Regular")format("svg");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  font-weight:normal;
  font-style:normal;
  font-display:swap;
}

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}